@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid">
    <div class="row-fluid">


        <div class="col-md-offset-4 col-md-4" id="box">
            <h2>Contact Us!</h2>

            <hr>

            <form class="form-horizontal" method="POST" id="contact_form">
                <fieldset>
                    <!-- Form Name -->
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="name" id="first_name" placeholder="Name" class="form-control" type="text" required>
                            </div>
                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" id="email" placeholder="E-Mail Address" class="form-control" type="email" required>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input name="phone"  id="phone"placeholder="(005)501-120101" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control" name="comment" id="comment" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-warning pull-right">Send <span class="glyphicon glyphicon-send"></span></button>
                            @if(ViewBag.MailSent!=null&& ViewBag.MailSent)
                            {
                                <script>alert("Mail Sent");</script>
                            }

                            <button type="submit" id="pg" value="click me">Test <span class="glyphicon-book"></span></button>
                            <script>
                                jQuery(document).ready(function () {
                                    jQuery('#pg').click(function () {
                                        alert('test');
                                    });

                                });
                            </script>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>
