
@{
    ViewBag.Title = "Team";
}

<div class="content">
    <div class="container">

        <div class="about-two">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <!-- Staff #1 -->
                    <div class="staff text-center">
                        <!-- Picture -->
                        <div class="pic">
                            <img src="img/photos/1.jpg" alt="" class="img-responsive" />
                        </div>
                        <!-- Details -->
                        <div class="details">
                            <!-- Name and designation -->
                            <div class="desig">
                                <p class="name">Ravi Kumar</p>
                                <em>CEO of Metro</em>
                            </div>
                            <!-- Social media details. Replace # with profile links -->
                            <div class="asocial">
                                <a href="#"><i class="fa fa-facebook bblue"></i></a>
                                <a href="#"><i class="fa fa-google-plus borange"></i></a>
                                <a href="#"><i class="fa fa-twitter bviolet"></i></a>
                                <a href="#"><i class="fa fa-linkedin blightblue"></i></a>
                                <a href="#"><i class="fa fa-pinterest bred"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Description -->
                            <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Staff #2 -->
                    <div class="staff text-center">
                        <div class="pic">
                            <img src="img/photos/2.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="details">
                            <div class="desig">
                                <p class="name">Santhosh Kumar</p>
                                <em>CTO of Metro</em>
                            </div>
                            <div class="asocial">
                                <a href="#"><i class="fa fa-facebook bblue"></i></a>
                                <a href="#"><i class="fa fa-google-plus borange"></i></a>
                                <a href="#"><i class="fa fa-twitter bviolet"></i></a>
                                <a href="#"><i class="fa fa-linkedin blightblue"></i></a>
                                <a href="#"><i class="fa fa-pinterest bred"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Staff #3 -->
                    <div class="staff text-center">
                        <div class="pic">
                            <img src="~/Images/Tabla.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="details">
                            <div class="desig">
                                <p class="name">Ashok Kumar</p>
                                <em>CFO of Metro</em>
                            </div>
                            <div class="asocial">
                                <a href="#"><i class="fa fa-facebook bblue"></i></a>
                                <a href="#"><i class="fa fa-google-plus borange"></i></a>
                                <a href="#"><i class="fa fa-twitter bviolet"></i></a>
                                <a href="#"><i class="fa fa-linkedin blightblue"></i></a>
                                <a href="#"><i class="fa fa-pinterest bred"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Staff #4 -->
                    <div class="staff text-center">
                        <div class="pic">
                            <img src="~/Images/Header01.png" alt="" class="img-responsive" />
                        </div>
                        <div class="details">
                            <div class="desig">
                                <p class="name">Babu Kumar</p>
                                <em>CMO of Metro</em>
                            </div>
                            <div class="asocial">
                                <a href="#"><i class="fa fa-facebook bblue"></i></a>
                                <a href="#"><i class="fa fa-google-plus borange"></i></a>
                                <a href="#"><i class="fa fa-twitter bviolet"></i></a>
                                <a href="#"><i class="fa fa-linkedin blightblue"></i></a>
                                <a href="#"><i class="fa fa-pinterest bred"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>